.About {
    display: grid;
    width: auto;
    height: 100%;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 0.2fr 1fr;
    grid-template-areas: "headerDes headerDes headerDes" "picture hardskills softskills";
    padding: 0%;
    column-gap: 0%;
    row-gap: 0%;
    background-color: #000;
    color: cadetblue;
}

.picture {
    grid-area: picture;
}

.headerDes {
    grid-area: headerDes;
    font-size: 110%;
    color: white;
    padding-top: 1.5%;
}

.hardskills {
    grid-area: hardskills;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas: "uno dos tres cuatro cinco" "seis siete ocho nueve diez" "once doce trece catorce quince" "dieciseis diecisiete dieciocho diecinueve veinte";
    margin-inline-end: 2%;
    margin-inline-start: 2%;
    column-gap: 1%;
    row-gap: 1%;
}

.uno {
    grid-area: uno;
}

.dos {
    grid-area: dos;
}

.tres {
    grid-area: tres;
}

.cuatro {
    grid-area: cuatro;
}

.cinco {
    grid-area: cinco;
}

.seis {
    grid-area: seis;
}

.siete {
    grid-area: siete;
}

.ocho {
    grid-area: ocho;
}

.nueve {
    grid-area: nueve;
}

.diez {
    grid-area: diez;
}

.once {
    grid-area: once;
}

.doce {
    grid-area: doce;
}

.trece {
    grid-area: trece;
}

.catorce {
    grid-area: catorce;
}

.quince {
    grid-area: quince;
}

.dieciseis {
    grid-area: dieciseis;
}

.diecisiete {
    grid-area: diecisiete;
}

.dieciocho {
    grid-area: dieciocho;
}

.diecinueve {
    grid-area: diecinueve;
}

.veinte {
    grid-area: veinte;
}

.softskills {
    grid-area: softskills;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    transition: 2s;
}

.photo {
    margin-top: 8%;
    border-radius: 50%;
    width: 55%;
    height: auto;
}

.details {
    color:aqua;
    margin-top: 15%;
    margin-left: 5%;
}

ul {
    list-style-type: none;
    text-align: left;
}

ul li {
    margin-top: 0%;
}

.certiTile {
    text-align: left;
    font-size: 95%;
    margin-left: 5%;
    margin-bottom: 2%;
}

.certifica {
    color: cadetblue;
    text-decoration: none;
    font-size: 90%;
}

.certifica:hover {
    color:aqua;
    font-size: 93%;
}

.btn-skills{
    border: rgba(102, 102, 102, 0.26) solid 1.5px;
    border-radius: 17%;
    width: 80%;
    height: 95%;
    justify-content: center;
    background-color: black;
}

.btn-skills:hover{
    transform: scale(0.9);
    transition: all 0.7s ease;
    text-decoration: none;
}

.enlaces {
    font-size: 65%;
}

#html{
    color: orangered;
    text-decoration: none;
}

#css { 
    text-decoration: none;
    color:rgb(45, 93, 252);
}

#javascript{
    color:rgb(207, 187, 3);
    text-decoration: none;
}
#react{
    color:rgb(4, 196, 196);
    text-decoration: none;
}
#bootstrap{
    color:rgb(85, 36, 219);
    text-decoration: none;
}

#webpack {
    text-decoration: none;
    color: #48D1CC;
}

#babel {
    text-decoration: none;
    color: #FFD700;
}

#chart {
    text-decoration: none;
    color: #F08080;
}

#canvas {
    text-decoration: none;
    color: #FFF;
}

#gnu {
    text-decoration: none;
    color: #FFF;
}

#git {
    text-decoration: none;
    color: #FF4500;
}

#github {
    text-decoration: none;
    color: #FFF;
}

#firebase {
    text-decoration: none;
    color: #FFD700;
}

#jest {
    text-decoration: none;
    color: #CD5C5C;
}

#Kanban {
    text-decoration: none;
    color: #800080;
}

#markdown {
    text-decoration: none;
    color: #FFF;
}

#bootstrap {
    text-decoration: none;
}

#material {
    text-decoration: none;
    color: #0000FF;
}

#Tailwindcss {
    text-decoration: none;
    color: #1E90FF;
}

#linux {
    text-decoration: none;
    color: #FFA500;
}

#npm {
    text-decoration: none;
    color: #FF0000;
}


/*FLIPCARD*/

/*.card {
    position: relative;
    width: 300px;
    height: 400px;
}

.card div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;  
    transform-style: preserve-3d;
}

.card .front {
    background-color: blue;
    transform: perspective(500px) rotateY(0deg);
}

.card .back {
    background-color: red;
    transform: perspective(500px) rotateY(180deg);
}

.card .front:hover {
    transform: perspective(500px) rotateY(180deg);
}

.card .back:hover {
    transform: perspective(500px) rotateY(360deg);
}*/


/*NW FLIP*/

.container-flip {
    width: 70%;
    height: 25rem;
    perspective: 1000px;
    background-color: transparent;
    margin-right: 5%;
}

.portrait {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 2.8s;
    transform-style: preserve-3d;
    background-color: transparent;
    backface-visibility: hidden;
}

.portrait:hover {
    transform: rotateY(180deg);
}

.cover,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cover {
    /*background-color: cornflowerblue;*/
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    font-size: 100%;
    border-style: solid;
}

.back {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    text-align: left;
    color: #fff;
    transform: rotateY(180deg);
    list-style: none;
    padding-top: 5%;
    border-style: solid;
}

.softSk {
    font-size: 90%;
    margin-top: 13%;
    margin-left: 13%;
}





@media only screen and (max-width: 820px) {
    /* For mobile phones: */
    .About {
        display: flex;
        height: auto;
        width: 100%;
        flex-direction: column;
    }

    .btn-skills{
        border: rgba(102, 102, 102, 0.26) solid 1.5px;
        border-radius: 17%;
        width: 95%;
        height: 100%;
        justify-content: center;
        background-color: black;
    }

    .container-flip {
        width: 35%;
        height: 15rem;
        perspective: 1000px;
        background-color: transparent;
        margin-right: 5%;
        margin-top: 8%;
        margin-bottom: 8%;
    }

    .cover {
        /*background-color: cornflowerblue;*/
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        text-align: center;
        color: #ffffff;
        font-size: 110%;
        border-style: solid;
    }
    
    .back {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        text-align: left;
        color: #fff;
        transform: rotateY(180deg);
        list-style: none;
        padding-top: 1%;
        border-style: solid;
    }
    
    .softSk {
        font-size: 95%;
        margin-top: 5%;
        margin-left: 10%;
    }

    .photo {
        margin-top: 5%;
        border-radius: 50%;
        width: 50%;
        height: auto;
    }

    .details {
        color:aqua;
        margin-top: 1%;
        margin-left: 5%;
    }

    .headerDes {
        font-size: 105%;
        color: white;
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 5%;
    }
}