.About {
    display: grid;
    width: auto;
    height: 100%;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 0.2fr 1fr;
    grid-template-areas: "headerDes headerDes headerDes" "picture hardskills softskills";
    padding: 0%;
    column-gap: 0%;
    row-gap: 0%;
    background-color: #000;
    color: cadetblue;
}

.picture {
    grid-area: picture;
}

.headerDes {
    grid-area: headerDes;
    font-size: 110%;
    color: white;
    padding-top: 1.5%;
}

.hardskills {
    grid-area: hardskills;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas: "uno dos tres cuatro cinco" "seis siete ocho nueve diez" "once doce trece catorce quince" "dieciseis diecisiete dieciocho diecinueve veinte";
    margin-inline-end: 2%;
    margin-inline-start: 2%;
    column-gap: 1%;
    row-gap: 1%;
}

.uno {
    grid-area: uno;
}

.dos {
    grid-area: dos;
}

.tres {
    grid-area: tres;
}

.cuatro {
    grid-area: cuatro;
}

.cinco {
    grid-area: cinco;
}

.seis {
    grid-area: seis;
}

.siete {
    grid-area: siete;
}

.ocho {
    grid-area: ocho;
}

.nueve {
    grid-area: nueve;
}

.diez {
    grid-area: diez;
}

.once {
    grid-area: once;
}

.doce {
    grid-area: doce;
}

.trece {
    grid-area: trece;
}

.catorce {
    grid-area: catorce;
}

.quince {
    grid-area: quince;
}

.dieciseis {
    grid-area: dieciseis;
}

.diecisiete {
    grid-area: diecisiete;
}

.dieciocho {
    grid-area: dieciocho;
}

.diecinueve {
    grid-area: diecinueve;
}

.veinte {
    grid-area: veinte;
}

.softskills {
    grid-area: softskills;
}

.photo {
    margin-top: 10%;
    border-radius: 50%;
    width: 60%;
    height: 50%;
}

.btn-resume-about {
    color:aqua;
    margin-top: 16%;
}

.btn-resume-about:hover {
    color:aqua;
    font-size: 110%;
}

.btn-skills{
    border: rgba(102, 102, 102, 0.26) solid 1.5px;
    border-radius: 17%;
    width: 80%;
    height: 95%;
    justify-content:center;
    background-color: black;
}

.btn-skills:hover{
    transform: scale(0.9);
    transition: all 0.7s ease;
    text-decoration: none;
}

.enlaces {
    font-size: 70%;
}

#html{
    color: orangered;
    text-decoration: none;
}

#css { 
    text-decoration: none;
    color:rgb(45, 93, 252);
}

#javascript{
    color:rgb(207, 187, 3);
    text-decoration: none;
}
#react{
    color:rgb(4, 196, 196);
    text-decoration: none;
}
#bootstrap{
    color:rgb(85, 36, 219);
    text-decoration: none;
}

#webpack {
    text-decoration: none;
    color: #48D1CC;
}

#babel {
    text-decoration: none;
    color: #FFD700;
}

#chart {
    text-decoration: none;
    color: #F08080;
}

#canvas {
    text-decoration: none;
    color: #FFF;
}

#gnu {
    text-decoration: none;
    color: #FFF;
}

#git {
    text-decoration: none;
    color: #FF4500;
}

#github {
    text-decoration: none;
    color: #FFF;
}

#firebase {
    text-decoration: none;
    color: #FFD700;
}

#jest {
    text-decoration: none;
    color: #CD5C5C;
}

#Kanban {
    text-decoration: none;
    color: #800080;
}

#markdown {
    text-decoration: none;
    color: #FFF;
}

#bootstrap {
    text-decoration: none;
}

#material {
    text-decoration: none;
    color: #0000FF;
}

#Tailwindcss {
    text-decoration: none;
    color: #1E90FF;
}

#linux {
    text-decoration: none;
    color: #FFA500;
}

#npm {
    text-decoration: none;
    color: #FF0000;
}