.Home {
    display: grid;
    width: auto;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "mainHome";
    padding: 0%;
    column-gap: 0%;
    row-gap: 0%;
    color: cadetblue;
}

.mainHome {
    grid-area: mainHome;
    text-align: center;
    background-image: url(https://raw.githubusercontent.com/Elibabah/elibabah/release/src/assets/Components/Home/myDataHome.gif);
    background-size: cover;
}

.mainHome::after {
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.8;
}

.Home * {
    position: relative;
    z-index: 1;
}

.hello {
    margin-top: 5%;
    margin-bottom: 3%;
    font-size: 200%;
    color: aqua;
} 

.name {
    margin-top: 1%;
    font-size: 200%;
    color: aqua;
}

.elibabah {
    margin-top: 0%;
    font-size: 150%;
    color: cadetblue;
}

.types {
    margin-top: 3%;
    font-size: 170%;
    color: cadetblue;
    font-family: monospace;
}

.btn-resume {
    color:aqua;
    margin-top: 4%;
}

.btn-resume:hover {
    color:aqua;
    font-size: 120%;
}