.repo {
    text-decoration: none;
    color: aqua;
    margin-top: 0%;
}

.repoName {
    font-weight: 100;
    padding-top: 1%;
}

.description {
    margin-top: 1%;
    margin-bottom: 0%;
}

.d-block {
    padding-right: 1%;
    padding-left: 1%;
}

.d-block:hover {
    opacity: 0.9;
    transform: scale(0.99);
    transition: all 0.7s ease;
}