.App {
  display: grid;
  width: auto;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 2fr  0.2fr;
  grid-template-areas: "navBar navBar navBar" "main main main" "footer footer footer";
  padding: 0%;
  column-gap: 0%;
  row-gap: 0%;
  background-color: #000;
}

.navBar {
  grid-area: navBar;
  text-align: center;
}

.main {
  grid-area: main;
  text-align: center;
  background-color: #000;
}

.footer {
  grid-area: footer;
  text-align: center;
  background-color: #000;
}