.App {
  display: grid;
  width: auto;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 2fr 2fr  1fr;
  grid-template-areas: "navBar navBar navBar" "projects projects projects" "contact contact contact" "footer footer footer";
  padding: 0%;
  column-gap: 2%;
  row-gap: 0%;
}

.navBar {
  grid-area: navBar;
  text-align: center;
  background-color: black;
  height: 100vh;
}

.projects {
  grid-area: projects;
  text-align: center;
  background-color: red;
  padding: 5%;
}

.contact {
  grid-area: contact;
  text-align: center;
  background-color: rebeccapurple;
  padding: 5%;
}

.footer {
  grid-area: footer;
  text-align: center;
  background-color: gold;
  padding: 2%;
}